In [5]:
print("String value:", "Hello, World!", "Integer value:", 42, "Boolean value:", True, "Float value:", 3.14)

String value: Hello, World! Integer value: 42 Boolean value: True Float value: 3.14

In [7]:
print("String value", "Hello, World!", "Integer value", 42, "Boolean value", True, "Float value", 3.14, sep="-")

String value-Hello, World!-Integer value-42-Boolean value-True-Float value-3.14

In [9]:
print("Hello, World!", end=" ")
print(42, end=" ")
print(True, end=" ")
print(3.14)

Hello, World! 42 True 3.14

### Yes, the Python print function can be called with no arguments. When you do this, it simply prints a blank line. For example:
print()

In [16]:
# Personal details
friend_name = "Mr. Ahmed"
age = 30
profession = "Lawyer"
bachelor_degree = "Law"
bachelor_year = 2005

# Work details
law_firm = "The Himalya Associates"
work_location = "Karachi"
working_since = 2015

# Physical attributes
height_in_feet = 5.10
weight_in_grams = 70600

# Financial details
monthly_income_pkr = 200000  # Rs. 200k PKR

In [14]:
# Current year
current_year = 2024

# Calculate years since graduation
years_since_bachelors = current_year - bachelor_year

print("Years since Mr. Ahmed completed his bachelor's degree:", years_since_bachelors)

Years since Mr. Ahmed completed his bachelor's degree: 19

In [18]:
# Variables
current_year = 2024  # Current year
joining_year = 2015  # Year he started working with the firm

# Calculate years of work
years_in_firm = current_year - joining_year

# Print the result
print("Mr. Ahmed has been working with 'The Himalya Associates' for", years_in_firm, "years.")

Mr. Ahmed has been working with 'The Himalya Associates' for 9 years.

In [20]:
# Variables
monthly_income_pkr = 200000  # Monthly income in PKR
exchange_rate_pkr_to_usd = 285  # 1 USD = 285 PKR

# Calculate income in USD
monthly_income_usd = monthly_income_pkr / exchange_rate_pkr_to_usd

# Print the result
print("Mr. Ahmed's monthly income in USD is:", round(monthly_income_usd, 2))

Mr. Ahmed's monthly income in USD is: 701.75

In [22]:
# Variables
monthly_income_pkr = 200000  # Monthly income in PKR
exchange_rate_pkr_to_usd = 285  # 1 USD = 285 PKR

# Calculate income in USD
monthly_income_usd = monthly_income_pkr / exchange_rate_pkr_to_usd

# Check if the income is a float and convert it to an integer if true
if isinstance(monthly_income_usd, float):
    monthly_income_usd = int(monthly_income_usd)

# Print the income in integer type
print("Mr. Ahmed's monthly income in USD (as an integer) is:", monthly_income_usd)

Mr. Ahmed's monthly income in USD (as an integer) is: 701

In [24]:
# Weight in grams
weight_in_grams = 70600

# Print the type of the weight
print("The type of Mr. Ahmed's weight is:", type(weight_in_grams))

# Convert the weight to kilograms (integer value)
weight_in_kg = int(weight_in_grams / 1000)

# Print the weight in kilograms
print("Mr. Ahmed's weight in kilograms (integer value) is:", weight_in_kg)

The type of Mr. Ahmed's weight is: <class 'int'>
Mr. Ahmed's weight in kilograms (integer value) is: 70

In [1]:
# Variables
current_year = 2024  # Current year
age = 30  # Mr. Ahmed's age

# Calculate birth year
birth_year = current_year - age

# Print the birth year
print("Mr. Ahmed's year of birth is:", birth_year)

Mr. Ahmed's year of birth is: 1994

In [3]:
# Variables
total_amount = 100  # Total amount in Rs.
students = 6  # Number of students

# Check divisibility
if total_amount % students == 0:
    print("Yes, Rs. 100 can be divided equally among 6 students.")
else:
    print("No, Rs. 100 cannot be divided equally among 6 students.")

No, Rs. 100 cannot be divided equally among 6 students.