# Looping Structures

In [2]:
# Print numbers from 1 to 10 using a for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#  Print Numbers from 20 to 1 Using a While Loop:

In [5]:
# Print numbers from 20 to 1 using a while loop
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

#  Print Even Numbers from 1 to 10:

In [8]:
# Print even numbers from 1 to 10
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

# Print All Numbers from 1 to n:

In [11]:
# Prompt the user to enter a number n and print numbers from 1 to n
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

Enter a number:  16

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

#  Print Odd Numbers Between 1 and n:

In [14]:
# Prompt the user to enter a number n and print odd numbers between 1 and n
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    if i % 2 != 0:
        print(i)

Enter a number:  12

1
3
5
7
9
11

#  Print 'Happy Birthday!' Five Times:

In [17]:
# Print 'Happy Birthday!' five times
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

# Generate the First n Terms of the Series Formed by Squaring the Natural Numbers:

In [20]:
# Prompt the user to enter a number n and print the first n terms of the series formed by squaring natural numbers
n = int(input("Enter a number: "))
print(f"The first {n} terms of the series are:")
for i in range(1, n + 1):
    print(i**2, end=" ")

Enter a number:  13

The first 13 terms of the series are:
1 4 9 16 25 36 49 64 81 100 121 144 169

# Print the Multiplication Table for a Given Number:

In [23]:
# Prompt the user to input a number and print its multiplication table
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number:  10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Print the First 8 Terms of an Arithmetic Progression Starting with 3 and Having a Common Difference of 4:

In [26]:
# First term (a) and common difference (d)
a = 3
d = 4

# Print the first 8 terms of the arithmetic progression
for i in range(8):
    term = a + i * d
    print(term, end=" ")

3 7 11 15 19 23 27 31

# Print the First 6 Terms of a Geometric Sequence Starting with 2 and Having a Common Ratio of 3:

In [29]:
# First term (a) and common ratio (r)
a = 2
r = 3

# Print the first 6 terms of the geometric sequence
for i in range(6):
    term = a * (r ** i)
    print(term, end=" ")

2 6 18 54 162 486

# Calculate the Sum of All Integers from 1 Up to the Number Entered:

In [32]:
# Ask the user for a positive integer
n = int(input("Enter a positive integer: "))

# Calculate the sum of integers from 1 to n
total_sum = 0
for i in range(1, n + 1):
    total_sum += i

# Display the result
print(f"The sum of all integers from 1 to {n} is: {total_sum}")

Enter a positive integer:  12

The sum of all integers from 1 to 12 is: 78

# Calculate the Sum of the Reciprocals of All Numbers from 1 Up to N:

In [35]:
# Ask the user for a positive integer N
n = int(input("Enter a positive integer: "))

# Calculate the sum of reciprocals
reciprocal_sum = 0
for i in range(1, n + 1):
    reciprocal_sum += 1 / i

# Display the result
print(f"The sum of reciprocals from 1 to {n} is: {reciprocal_sum:.2f}")

Enter a positive integer:  13

The sum of reciprocals from 1 to 13 is: 3.18

# Program to Prompt the User for a Number 5 Times and Calculate the Running Total:

In [38]:
# Initialize the running total to 0
running_total = 0

# Repeat the process 5 times
for i in range(5):
    number = float(input("Enter a number: "))
    running_total += number

# Display the final running total
print(f"The final running total is: {running_total}")

Enter a number:  15
Enter a number:  17
Enter a number:  12
Enter a number:  10
Enter a number:  12

The final running total is: 66.0

# Program to Calculate the Factorial of a Positive Integer:

In [41]:
# Prompt the user to enter a positive integer
n = int(input("Enter a positive integer: "))

# Handle factorial of 0
if n == 0:
    print("The factorial of 0 is: 1")
elif n < 0:
    print("Factorial does not exist for negative numbers.")
else:
    factorial = 1
    # Calculate the factorial
    for i in range(1, n + 1):
        factorial *= i
    print(f"The factorial of {n} is: {factorial}")

Enter a positive integer:  19

The factorial of 19 is: 121645100408832000

# Program to Calculate the Power of a Base Number to an Exponent Without Using ** or math.pow():

In [44]:
# Prompt the user to enter a base number and an exponent
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))

# Initialize result to 1 (for positive exponents)
result = 1

# Handle positive exponents
if exponent > 0:
    for _ in range(exponent):
        result *= base

# Handle negative exponents
elif exponent < 0:
    for _ in range(abs(exponent)):
        result *= base
    result = 1 / result

# If exponent is zero
else:
    result = 1

# Display the result
print(f"{base} raised to the power of {exponent} is: {result}")

Enter the base number:  12
Enter the exponent:  2

12.0 raised to the power of 2 is: 144.0

# Conditional Structures

In [5]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:  13

Odd

# 2. Voting Eligibility

In [8]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

Enter your age:  21

You are eligible to vote.

# 3. Find Largest of Two Integers

In [11]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print("The largest number is:", max(num1, num2))

Enter the first number:  7
Enter the second number:  9

The largest number is: 9

# 4. Check Positive, Negative, or Zero

In [14]:
number = float(input("Enter a number: "))
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:  5

Positive

# 5. Determine Age Group

In [17]:
age = int(input("Enter your age: "))
if 0 <= age <= 12:
    print("Child")
elif 13 <= age <= 19:
    print("Teenager")
elif 20 <= age <= 59:
    print("Adult")
elif age >= 60:
    print("Senior Citizen")
else:
    print("Invalid age entered!")

Enter your age:  19

Teenager

# 6. Day of the Week

In [20]:
day_number = int(input("Enter a number (1-7): "))
days = {1: "Sunday", 2: "Monday", 3: "Tuesday", 4: "Wednesday", 5: "Thursday", 6: "Friday", 7: "Saturday"}
if 1 <= day_number <= 7:
    print("The day is:", days[day_number])
else:
    print("Error: Number should be between 1 and 7.")

Enter a number (1-7):  5

The day is: Thursday

# 7. BMI Calculator

In [23]:
weight = float(input("Enter your weight (in kg): "))
height = float(input("Enter your height (in meters): "))
bmi = weight / (height ** 2)

if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi <= 24.9:
    print("Normal weight")
elif 25 <= bmi <= 29.9:
    print("Overweight")
else:
    print("Obesity")

Enter your weight (in kg):  56
Enter your height (in meters):  5.6

Underweight

# 8. Calculate Grade

In [26]:
marks = [float(input(f"Enter marks for subject {i+1}: ")) for i in range(3)]
average = sum(marks) / 3

if 90 <= average <= 100:
    print("Grade: A")
elif 80 <= average < 90:
    print("Grade: B")
elif 70 <= average < 80:
    print("Grade: C")
elif 60 <= average < 70:
    print("Grade: D")
else:
    print("Grade: F")

Enter marks for subject 1:  79
Enter marks for subject 2:  83
Enter marks for subject 3:  69

Grade: C

# 9. Solve Quadratic Equation

In [29]:
import math

a = float(input("Enter coefficient a (a ≠ 0): "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter constant c: "))

discriminant = b**2 - 4*a*c

if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2 * a)
    root2 = (-b - math.sqrt(discriminant)) / (2 * a)
    print("Two real roots:", root1, "and", root2)
elif discriminant == 0:
    root = -b / (2 * a)
    print("One real root:", root)
else:
    real_part = -b / (2 * a)
    imaginary_part = math.sqrt(-discriminant) / (2 * a)
    print("Two complex roots:", f"{real_part} + {imaginary_part}i and {real_part} - {imaginary_part}i")

Enter coefficient a (a ≠ 0):  7
Enter coefficient b:  4
Enter constant c:  8

Two complex roots: -0.2857142857142857 + 1.0301575072754254i and -0.2857142857142857 - 1.0301575072754254i

# 10. Sort Numbers

In [32]:
numbers = [float(input(f"Enter number {i+1}: ")) for i in range(3)]
numbers.sort()
print("Sorted numbers:", numbers)

Enter number 1:  9
Enter number 2:  4
Enter number 3:  5

Sorted numbers: [4.0, 5.0, 9.0]

# 11. Find Largest of Three Integers

In [35]:
numbers = [int(input(f"Enter number {i+1}: ")) for i in range(3)]
print("The largest number is:", max(numbers))

Enter number 1:  4
Enter number 2:  9
Enter number 3:  6

The largest number is: 9

# 12. Check Vowel or Consonant

In [38]:
char = input("Enter a character: ").lower()
if char in 'aeiou':
    print("Vowel")
elif char.isalpha():
    print("Consonant")
else:
    print("Invalid input")

Enter a character:  A

Vowel

# 13. Check Leap Year

In [41]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year:  2007

Not a Leap Year

# 14. Telephone Bill Calculation

In [44]:
calls = int(input("Enter the number of calls: "))

if calls <= 100:
    bill = 200
elif calls <= 150:
    bill = 200 + (calls - 100) * 0.60
elif calls <= 200:
    bill = 200 + 50 * 0.60 + (calls - 150) * 0.50
else:
    bill = 200 + 50 * 0.60 + 50 * 0.50 + (calls - 200) * 0.40

print(f"Your bill is: Rs. {bill:.2f}")

Enter the number of calls:  3

Your bill is: Rs. 200.00

# Strings

# 1. Count and Display the Number of Vowels in a String

In [4]:
string = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = sum(1 for char in string if char in vowels)
print(f"Number of vowels: {count}")

Enter a string:  abc

Number of vowels: 1

# 2. Count and Display Uppercase, Lowercase, Digits, and Whitespace Characters

In [7]:
string = input("Enter a string: ")
uppercase = sum(1 for char in string if char.isupper())
lowercase = sum(1 for char in string if char.islower())
digits = sum(1 for char in string if char.isdigit())
whitespaces = sum(1 for char in string if char.isspace())
print(f"Uppercase letters: {uppercase}")
print(f"Lowercase letters: {lowercase}")
print(f"Digits: {digits}")
print(f"Whitespace characters: {whitespaces}")

Enter a string:  abdul

Uppercase letters: 0
Lowercase letters: 5
Digits: 0
Whitespace characters: 0

# 3. Exchange the First and Last Characters of a String

In [10]:
string = input("Enter a string: ")
if len(string) > 1:
    new_string = string[-1] + string[1:-1] + string[0]
else:
    new_string = string
print(f"New string: {new_string}")

Enter a string:  Meer

New string: reeM

# 4. Reverse a String Without Using reverse()

In [13]:
string = input("Enter a string: ")
reversed_string = string[::-1]
print(f"Reversed string: {reversed_string}")

Enter a string:  hello

Reversed string: olleh

# 5. Shift Characters of a String One Position to the Left

In [16]:
string = input("Enter a string: ")
new_string = string[1:] + string[0]
print(f"Shifted string: {new_string}")

Enter a string:  abcdef

Shifted string: bcdefa

# 6. Print the Initials of the Name Without Using split()

In [19]:
name = input("Enter your full name (first, middle, last): ")
initials = ""
prev_char = " "
for char in name:
    if prev_char == " " and char != " ":
        initials += char.upper() + ". "
    prev_char = char
print(f"Initials: {initials.strip()}")

Enter your full name (first, middle, last):  Mir Abdul Baqi

Initials: M. A. B.

# 7. Check If a String Is a Palindrome Without Using reverse()

In [22]:
string = input("Enter a string: ")
is_palindrome = string == string[::-1]
print(f"The string is a palindrome: {is_palindrome}")

Enter a string:  abcd

The string is a palindrome: False

# 8. Display the Cyclic Permutations of the Word "SHIFT"

In [25]:
string = "SHIFT"
for i in range(len(string)):
    print(string[i:] + string[:i])

SHIFT
HIFTS
IFTSH
FTSHI
TSHIF

# 9. Validate Password According to Given Requirements

In [28]:
password = input("Enter your password: ")

if (len(password) >= 8 and 
    any(char.isupper() for char in password) and 
    any(char.islower() for char in password) and 
    any(char.isdigit() for char in password)):
    print("Password is valid.")
else:
    print("Password is invalid. Ensure it meets all the requirements.")

Enter your password:  120712

Password is invalid. Ensure it meets all the requirements.

# List Assignment

# 1. Print Alternate Elements of a List

In [41]:
lst = list(map(int, input("Enter elements of the list separated by space: ").split()))
print("Alternate elements of the list:", lst[::2])

Enter elements of the list separated by space:  1 3 7 11

Alternate elements of the list: [1, 7]

# 2. Reverse the Content of a List Without Using reverse()

In [43]:
lst = list(map(int, input("Enter elements of the list separated by space: ").split()))
reversed_lst = lst[::-1]
print("Reversed list:", reversed_lst)

Enter elements of the list separated by space:  07 199 2341

Reversed list: [2341, 199, 7]

# 3. Find the Largest Number in a List Without Using max()

In [39]:
lst = list(map(int, input("Enter elements of the list separated by space: ").split()))
largest = lst[0]
for num in lst:
    if num > largest:
        largest = num
print("Largest number:", largest)

Enter elements of the list separated by space:  0 1 2 3

Largest number: 3

# 4. Rotate Elements of a List

In [46]:
lst = list(map(int, input("Enter elements of the list separated by space: ").split()))
rotated_lst = lst[1:] + lst[:1]
print("Rotated list:", rotated_lst)

Enter elements of the list separated by space:  0 1 2 3 4 5

Rotated list: [1, 2, 3, 4, 5, 0]

# 5. Delete a Given Word from a String

In [49]:
string = input("Enter a string: ")
word_to_delete = input("Enter the word to delete: ")
new_string = string.replace(word_to_delete, "").strip()
print("Updated string:", new_string)

Enter a string:  hello world
Enter the word to delete:  lo

Updated string: hel world

# 6. Convert Date Format mm/dd/yyyy to Month Day, Year

In [56]:
import calendar

date = input("Enter a date in mm/dd/yyyy format: ")
month, day, year = map(int, date.split('/'))
month_name = calendar.month_name[month]
print(f"Formatted date: {month_name} {day}, {year}")

Enter a date in mm/dd/yyyy format:  07/12/2002

Formatted date: July 12, 2002

# 7. Capitalize the First Letter of Each Word

In [59]:
def capitalize_words(sentence):
    result = ""
    prev_char = " "
    for char in sentence:
        if prev_char == " " and char.isalpha():
            result += char.upper()
        else:
            result += char
        prev_char = char
    return result

sentence = input("Enter a sentence: ")
print("Capitalized sentence:", capitalize_words(sentence))

Enter a sentence:  hello world

Capitalized sentence: Hello World

# 8. Find the Sum of Each Row in a Matrix

In [62]:
m = int(input("Enter number of rows: "))
n = int(input("Enter number of columns: "))

matrix = []
print("Enter the matrix row by row:")
for _ in range(m):
    row = list(map(int, input().split()))
    matrix.append(row)

for i in range(m):
    print(f"Sum of row {i+1} = {sum(matrix[i])}")

Enter number of rows:  3
Enter number of columns:  3

Enter the matrix row by row:

 1 2 3
 4 5 6
 7 8 9

Sum of row 1 = 6
Sum of row 2 = 15
Sum of row 3 = 24

# 9. Add Two Matrices

In [65]:
m = int(input("Enter number of rows: "))
n = int(input("Enter number of columns: "))

print("Enter elements of first matrix:")
matrix1 = [list(map(int, input().split())) for _ in range(m)]

print("Enter elements of second matrix:")
matrix2 = [list(map(int, input().split())) for _ in range(m)]

result = [[matrix1[i][j] + matrix2[i][j] for j in range(n)] for i in range(m)]
print("Resultant matrix after addition:")
for row in result:
    print(*row)

Enter number of rows:  2
Enter number of columns:  2

Enter elements of first matrix:

 3 4 5
  6 7 9

Enter elements of second matrix:

 1 2 3
 9 8 6

Resultant matrix after addition:
4 6
15 15

# 10. Multiply Two Matrices

In [72]:
m1 = int(input("Enter number of rows in first matrix: "))
n1 = int(input("Enter number of columns in first matrix: "))
print("Enter elements of first matrix:")
matrix1 = [list(map(int, input().split())) for _ in range(m1)]

m2 = int(input("Enter number of rows in second matrix: "))
n2 = int(input("Enter number of columns in second matrix: "))
print("Enter elements of second matrix:")
matrix2 = [list(map(int, input().split())) for _ in range(m2)]

if n1 != m2:
    print("Matrix multiplication not possible (number of columns in first matrix must equal rows in second matrix).")
else:
    result = [[sum(matrix1[i][k] * matrix2[k][j] for k in range(n1)) for j in range(n2)] for i in range(m1)]
    print("Resultant matrix after multiplication:")
    for row in result:
        print(*row)

Enter number of rows in first matrix:  3
Enter number of columns in first matrix:  3

Enter elements of first matrix:

 1 2 3
 4 5 6
 7 8 9
Enter number of rows in second matrix:  3
Enter number of columns in second matrix:  3

Enter elements of second matrix:

 9 8 7
 6 5 4
 3 2 1

Resultant matrix after multiplication:
30 24 18
84 69 54
138 114 90